<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!--
        The <file> tag must be set to the location that the program will have access
        too, allowing the Logback system to create a file that will contain the logs
        from the minter service.
        -->
        <file>C:\Users\Stephen\Desktop\minter_log.log</file>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
  
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

